*{
    margin: 0%;
    padding: 0%;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container {
    color: white;
}

.temp {
    font-size: 4.5 rem;
}

.time_location{
    font-size: 2rem;
}

.condition {
    margin: 0.5 rem;
}

nav {
    height: 100px;
    margin: 5rem;
}

.search_area {
    padding: 1rem 0;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}

nav form bottom {
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}